/*##############################################################################

RESET DE CSS (elimino los margenes)

##############################################################################*/

*{
    padding:0px;
    margin: 0px; 
}

/*##############################################################################

CSS HECHO CON SOLO ETIQUETAS

##############################################################################*/


nav{
    text-align: right;
    padding: 1%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

article{
    text-align: center;
    background-color: #DFDFDE;

}

header {
    background-color: #8D8DAA;
   

}
footer {
    background-color: #8D8DAA;

}

main{
    background-color: #DFDFDE;
}


h1{
    text-align: center;
    font-size: xx-large;
    background-color: #F56D91;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    font-weight: bold;
    font-size: small;
    text-align: center;

}