*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/*======================================================
---------------------- USANDO ID
======================================================*/

#nav__header__footer{

    text-align: right;
    padding: 1%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;

}

#text__form{
    color: rgb(43, 35, 35);
}

#div__footer{

    font-weight: bold;
    font-size: small;
    text-align: center;

}

/*======================================================
---------------------- USANDO CLASS
======================================================*/

.header__backgr {
    background-color: #8D8DAA; 
}

.h1__align__c{

    text-align: center;
    background-color: #F56D91;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.h3__align__c{

    text-align: center;
    padding: 1%;
    font-family: 'Dela Gothic One', cursive;
}

.h4__style


.main__backgr {
    background-color: #DFDFDE;
}

.form{
    background-color: #DFDFDE;

}

.footer{
    background-color: #8D8DAA; 
}

.form__padding__margin{
    margin-left: 5%;
    padding: 2px;

}

.span__color{
    color: #303033;
    font-style: italic;

}

.lista__ord{
    margin-left: 2%;

}

.lista__desorg{
    margin-left: 2%;
}

.aside__der{
    background-color:#8D8DAA; 
    float:right;
    font-style: italic;
}

.h2__padd{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.div__aside__der{
    margin-left: 2%;
    margin-top: 5%; 
    text-align: center;
}

/*
ESTE HACE QUE LAS IMAGENES TENGAN UN MARCO DIFERENTE, CON LAS DIAGONALES SUP DER E INF IZQ RECORTADAS

TIPO CLASS
*/
.imagenes__frame__especial1
{
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
}